@model Munin.DAL.Models.Picture

@{
    ViewBag.Title = "Opret";
}


<h2>Opret</h2>

<div ng-controller="pictureFormCtrl as ctrl" ng-init="initpage()">
    @Html.Hidden("ID", Model.PictureId, new { @id = "ID" })
    @Html.Partial("_Form")
</div>


<div>
    @Html.ActionLink("Tilbage til liste", "Index")
</div>