<div class="form-horizontal" ng-show="pageLoaded">
    <h4>Sekvenser</h4>
    <hr />

    <div asp-net-error message={{ctrl.message}}></div>
    
    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-2">Sekvens-index</label>
            <div class="col-md-10">               
                <div class="input-group">
                    <span class="input-group-btn">
                        <input style="width: 150px" type="text" class="form-control" ng-model="ctrl.model.sequenceNb" />
                        <button type="button" class="btn btn-default" ng-click="getNewIndex()"><i class="glyphicon glyphicon-refresh"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    

    <!--<div asp-net-text-element label="Sekvens-index" model="ctrl.model.sequenceNb"></div>-->
    <div asp-net-text-element label="Kilde" model="ctrl.model.source" placeholder="Kilde"></div>
    <div asp-net-text-element label="Interviewer" model="ctrl.model.interviewer" placeholder="Interviewer"></div>
    <div asp-net-check-element label="Ophavsret" model="ctrl.model.copyright"></div>

    
    

    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-2">
                <label>Medie</label>
            </label>
            <div class="col-md-10">
                <ui-select ng-model="ctrl.seqType",0 theme="select2" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Vælg medie">
                    <ui-select-match placeholder="Vælg et materiale">{{$select.selected.text}}</ui-select-match>
                    <ui-select-choices repeat="seqType in ctrl.seqTypes | propsFilter: {value: $select.search, text: $select.search}">
                        <small>{{seqType.text}}</small>
                    </ui-select-choices>
                </ui-select>
                
            </div>            
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-2">
                <label>Journal</label>
            </label>
            <div class="col-md-10">
                <ui-select ng-model="ctrl.journal" theme="select2" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Vælg journal">
                    <ui-select-match placeholder="Vælg en journal">{{$select.selected.text}}</ui-select-match>
                    <ui-select-choices repeat="journal in ctrl.journaler | propsFilter: {value: $select.search, text: $select.search}">
                        <small>{{journal.text}}</small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-2">
                <label>Datering</label>
            </label>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-btn">
                        <input style="width: 150px" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ctrl.model.dateTime" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div asp-net-text-area label="Note" model="ctrl.model.comment"></div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
                <input type="button" value="Gem" class="btn btn-default" ng-click="save()" />
            </div>
        </div>
    </div>

</div>