@model Munin.DAL.Models.Sequence

@{
    ViewBag.Title = "Edit";
}

<div ng-controller="SequenceFormCtrl as ctrl" ng-init="initpage()">
    @Html.Hidden("ID", Model.SequenceId, new { @id = "ID" })
    @Html.Partial("_Form")
</div>


<div>
    @Html.ActionLink("Tilbage til liste", "Index")
</div>
