@model Munin.DAL.Models.Map

<h2>Rediger</h2>

<div ng-controller="MapFormCtrl as ctrl" ng-init="initpage()">
    @Html.Hidden("ID", Model.MapId, new { @id = "ID" })
    @Html.Partial("_Form")
</div>


<div>
    @Html.ActionLink("Tilbage til liste", "Index")
</div>