@model Munin.DAL.Models.Book

@{
    ViewBag.Title = "Opret";
}


<h2>Opret</h2>

<div ng-controller="bookFormCtrl as ctrl" ng-init="initpage()">
    @Html.Hidden("ID", Model.BookId, new { @id = "ID" })
    @Html.Partial("_Form")
</div>


<div>
    @Html.ActionLink("Tilbage til liste", "Index")
</div>